.Auth {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
    gap            : 4rem;
    position       : relative;

    &div {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .a-left {
        margin-top: -5rem;
        gap       : 2rem;

        img {
            width : 4rem;
            height: 4rem;
        }
    }

    .Webname {
        h1 {
            font-size              : 3rem;
            background-color       : red;
            background-image       : var(--buttonBg);
            background-size        : 100%;
            background-repeat      : repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip   : text;
            -moz-text-fill-color   : transparent;
        }

        h6 {
            font-size: 0.85rem;
        }
    }
}

.infoForm {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 2rem;

    // .info-link {
    //     background-color   : red;
    //     float:right;
    //     text-align: right;
    //     // align-items : right;
    //     // justify-content : end;

    // }

    &.authForm {
        background-color   : rgb(217, 227, 228);
        border-radius      : 1rem;
        padding            : 2rem;
        // margin          : 2rem;

        div {
            width          : 100%;
            align-items    : center;
            justify-content: center;
        }
    }

    .infoInput {
        // display         : flex;
        border          : none;
        outline         : none;
        background-color: var(--inputColor);
        border-radius   : 8px;
        padding         : 15px;
        flex            : 1;
        width           : 20rem;

    }

    div {
        display         : flex;
        gap             : 1rem;
        height          : 2rem;
        width           : 90%;
        // padding-right: 1rem;
    }

    .infoButton {
        width     : 6rem;
        height    : 2rem;
        align-self: flex-end;
    }
}