.ProfileCard {
    display          : flex;
    border-radius    : 1.5rem;
    flex-direction   : column;
    position         : relative;
    gap              : 1rem;
    overflow-x       : clip; // bo goc tren
    // margin-top    : 0.5rem;
    background       : var(--cardColor);

    .myprofile {
        font-weight  : bold;
        color        : rgb(19, 101, 143);
        align-self   : center;
        margin-bottom: 1rem;
        cursor       : pointer;

    }

    .ProfileImages {
        position       : relative; //di chuyen dc element 
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;

        .bg-img {
            width: 100%;
        }

        .avatar-img {
            width        : 6rem;
            border-radius: 50%;
            position     : absolute;
            bottom       : -3rem;
            box-shadow   : var(--profileShadow);
        }


    }

    .ProfileName {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-top    : 3rem;
        gap           : 10px;

        .user-name {
            font-weight: bold;
        }
    }

    .followStatus {
        // position       : relative; //di chuyen dc element 
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        gap            : 0.75rem;

        hr {
            width : 85%;
            border: 1px solid var(--hrColor)
        }

        .follow-container {
            display        : flex;
            gap            : 1rem;
            width          : 80%;
            justify-content: space-around; //can le theo phan tu ben tren
            align-items    : center;


            .follow {
                display        : flex;
                flex-direction : column; //xep theo cot cac item hay xuong dong
                align-items    : center;
                justify-content: center;
                gap            : 0.4rem;

                span:nth-of-type(1) {
                    font-weight: bold;
                }

                span:nth-of-type(2) {
                    color    : var(--gray);
                    font-size: 13px;
                }
            }

            .vl {
                height     : 150%;
                border-left: 2px solid var(--hrColor);

            }




        }
    }
}